
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
:root{
    --Violet: hsl(257, 40%, 49%);
--Soft-Magenta: hsl(300, 69%, 71%);
--font-family--heading: 'Poppins', sans-serif;
--font-size-400:400;
--font-size-600:600;
--font-family-body: 'Open Sans', sans-serif;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
   background-image: url(./images/bg-desktop.svg);
   background-repeat: no-repeat;
   background-size: cover;
   background-color: var(--Violet);
   
}

.container{
    margin: 0 auto;
    max-width: 1320px;
    height: 100vh;
}
.wrapper{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:2.2rem 0;
    margin:0 2rem;
}
.wrapper .header_logo img{
    width:10rem;/*如果用百分比，会跟着屏幕大小缩放
    如果用固定值，不管屏幕大小，图片就还是那么大*/
padding-bottom: 3rem;
}

.main_content{
    display: flex;
    align-items: center;
    gap:2.2rem;
}


.main_context h1{
    font-family:var(--font-family--heading);
    color: white;
    text-align: center;
   font-weight: 600; 
}

.main_context p{
    color: white;
    line-height: 1.8rem;
    margin: 2rem 0;
    font-family:'Open Sans', sans-serif ;
}

.main_context a{
    display: inline-block;
    font-family:var(--font-family--heading);
text-decoration: none;
background-color: white;
padding: 0.5rem 2rem;
border-radius: 2rem;
box-shadow: 0px 2px 5px 2px hsl(257, 40%, 30%);
color: var(--Violet);
transition: all 1s ease;
}
.main_context a:hover{
    background-color: var(--Soft-Magenta);
color: white;
}

.wrapper .social{
    text-align: right;
}
.wrapper .social a i{
color: white;
font: 1rem;
position: relative;

}



@media screen and (max-width:1440px){
    
}
   .main_img img{
        width:100%;
    }

    @media screen and (max-width:768px){
    body{
        background-image: url(./images/bg-mobile.svg);
        background-repeat: no-repeat;
        height: auto;
        background-size:100%;
        background-position: top;

    }
        .wrapper .main_content{
            display: flex;
            flex-direction: column;
            text-align: center;
        }
        .main_context a{
            width: 50%;
        }
        .social{
            text-align: center;
        }

    }
       

